/* About Me Container */
.about-me {
    padding: 20px;
}
/* Rounded border */
.rounded {
    border-top: 8px solid #343a40;;
    border-radius: 5px;
}
/* Main Photo Sizing */
#mainphoto {
    height: 50%;
}